---
import Container from '@/components/Container.astro';

const uri = {
  twitter: 'https://twitter.com/bhongbhibhat',
  github: 'https://github.com/bhongy',
  frantic: 'http://frantic.im/',
  astro: 'https://astro.build/',
};
---
<footer>
  <section class="social">
    <Container>
      See what I&apos;m upto on <a href={uri.twitter}>Twitter</a> and{' '}
      <a href={uri.github}>Github</a>.
    </Container>
  </section>
  <section class="credits">
    <Container>
      Site inspired by <a href={uri.frantic}>Alex Kotliarskyi&apos;s Website</a>
      {' • '}
      Site built with <a href={uri.astro}>astro</a>.
    </Container>
  </section>
</footer>

<style>
  .social {
    margin-bottom: 1em;
  }

  .credits {
    padding: 0.75rem 0;
    font-size: 0.75rem;
    text-align: center;
    background-color: #444;
    color: #ddd;
  }

  .credits a {
    color: #fff;
    text-shadow: initial;
    background-image: initial;
  }
</style>
